# O que eu aprendi hoje?

Este é um repositório com uma lista gerada automaticamente contendo meus aprendizados diários no mundo da tecnologia, línguas e outras coisas.

{{#each this}}

## {{id}}
	{{#each this.meses}}

### {{numeroParaNomeDoMes id}}
		{{#each this.dias}}

* **Dia {{id}} - {{aprendizado}}**: {{descricaoLonga}} 
		{{/each}}
	{{/each}}
{{/each}}
